
.LoginTitle {
    background:  url("first-page.svg")  no-repeat right top ;
    background-position: 0 0;
    margin: auto;
    height:  280px;
    width: 300px;
}

.LoginPage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Optional. only if you want the items to wrap */
    justify-content: center; /* For horizontal alignment */
    color: black;
}


body .ui-panel .ui-panel-titlebar {
    border-top-left-radius:  1.5em;
    border-top-right-radius:  1.5em;
}

.LoginPanel {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    text-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    font-size: 1.2em;
    line-height: 1.4em;

    width:600px;
    margin: auto;
    background-color: gray;
    border: 2px solid #888888;
    border-top-left-radius:  1.5em;
    border-top-right-radius:  1.5em;
    padding: 1em;

    box-shadow: 0.5em 1.2em 1em #888888;
}

.ui-messages-error, .ui-message-error {
  color: #b94a48;
  background-color: transparent;
  border: none;
}
